.itemContainer {
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 5px 7px rgb(0, 0, 0, 0.1);
    margin: 20px;
    overflow: hidden;
    font-family: sans-serif;
    background-color: wheat;
}

.foodImage {
    max-width:100%;
    height: auto;
}

.foodContent {
    text-align: center;
    margin: 10px;
}

.foodName {
    font-size: 1.2em;
    font-weight: 600;
    color: #181717;
}


.recipeBtn {
    border: none;
    padding: 8px;
    background-color: #EA8E8E;
    color: white;
    cursor: pointer; 
    border-radius: 10px;
    box-shadow: 0 4px 6px rgb(0, 0, 0, 0.1);
    /* margin-left: 20px; */
}

.btnContainer {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}